.footer-div{
	background-color: rgb(51, 0, 0); 
	width:100%; 
	height: auto; 
	font-size: 50px;
	text-align: center;
}
.package{
	text-decoration: none;
	background-color: orange;

}
.umra{
	text-decoration: none;
	background-color: orange;

}
.office{
text-decoration: none;
	background-color: orange;
}
.agent{
text-decoration: none;
	background-color: orange;
}
.package:hover{
	border: 2px red solid;
}
.umra:hover{
	border: 2px red solid;
}
.office:hover{
	border: 2px red solid;
}
.agent:hover{
	border: 2px red solid;
}