#editlistpara
{
	font-weight: bold;
	color: darkblue;
	font-size: 20px;
	text-align: center;

}

#editfs
{
    width: 50%;
    box-sizing: border-box;
    background: lightslategray;
    margin: 0 auto;
}