#regfs{
	margin: 0 auto;
	background: lightgreen;
	font-weight: bold;
	border-color: darkgoldenrod;
	width: 50%;

}



#reglgnd{
	font-weight: bold;
	font-size: 20px;
	color: darkred;

}

#h1tag{
	font-weight: bold;
	color: darkgreen;
	font-size: 20px;
	text-align: center;

}