#reviewsfs{
  margin: 0 auto;
  border-color: darkmagenta;
  width: 30%;
  background: lightgrey;
}

#h2reviews{

  color: steelblue;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#id1 {
  color: black;
  margin: 0 auto;
  width: 220px;
  height: 30px;
  padding: 20px;
  background: lightgreen;
  transition: width 0.9s;
  text-align: center;
}

#id1:hover {
  width: 320px;
}

#id2 {
  color: black;
  margin: auto;
  width: 220px;
  height: 30px;
  padding: 20px;
  background: lightskyblue;
  transition: width 0.5s;
  text-align: center;
}

#id2:hover {
  width: 320px;
}