form{color: black ;
   background-color: #96b7b6e6;
   font-size: 20px;
   margin:auto;
   padding:30px;
    text-align:center;
    height: 40%;
    width: 40%;

   }
  

   h1{
      text-align:center; 
      color: #30336b;
      background-color: #cdd5db;
   font-size: 20px;
   margin:20px 20px 20px 20px;
   padding:19px;
}

 body{
   margin: auto;
   background-image: url(changepassword.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;

}
 
   span{
      color:red;
   }