form{color: black ;
   font-size: 20px;
   margin:auto;
   padding:50px ;
    text-align:center;
    height: 40%;
    width: 40%;
   background-color: #b88d58c2;
   

   }
  textarea{
    padding:50px ;
    text-align:center;
      height: 80%;
    width: 100%;
  }

   h1{  font-size: 50px;
      text-align:center; 
      color: black;
   background-color:#ccb799;
   font-size: 20px;
   margin:20px 20px 20px 20px;
   padding:19px;
}
   h2{  font-size: 30px;
      text-align:center; 
   margin:20px 20px 20px 20px;
   padding:19px;
}


 body{
   margin: 0;
   background-image: url(agencyreview.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;

}
 
   span{
      color:red;
   }